<%= form_with(model: shop, url: admin_shops_path, local: true, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <% if shop.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h4>
      <ul>
        <% shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :ショップ名, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :住所, class: "form-label" %>
    <%= form.text_field :address, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :電話番号, class: "form-label" %>
    <%= form.number_field :phone_number, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :デュエルスペース, class: "form-label" %>
    <%= form.number_field :duel_space_available, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :営業時間, class: "form-label" %>
    <%= form.text_field :opening_hours, class: "form-control", required: true %>
  </div>




  <div class="mb-3">
    <%= form.label :公式HP, class: "form-label" %>
    <%= form.text_field :official_hp, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :Twitter, class: "form-label" %>
    <%= form.text_field :twitter, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :Instagram, class: "form-label" %>
    <%= form.text_field :instagram, class: "form-control", required: true %>
  </div>




  <!-- タグ付けフォームの追加 -->
  <div class="form-group form-group_tags">
    <%= form.label :tag_list, "タグ", class: "form-label" %>
    <%= form.text_field :tag_list, value: shop.tag_list.join(","), class: "form-control", data: { role: "tagsinput" } %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
