<div id="<%= dom_id(shop) %>" class="card shadow-sm h-100">
  <div class="card-body">
    <h5 class="card-title text-primary mb-3"><i class="bi bi-shop"></i> <%= shop.name %></h5>
    
    <table class="table table-borderless table-sm">
      <tbody>
        <tr>
          <th scope="row" class="w-25" style="padding-right: 10px;">
            <i class="bi bi-geo-alt-fill text-danger me-2"></i>住所
          </th>
          <td><%= shop.address %></td>
        </tr>
        <tr>
          <th scope="row" class="w-25" style="padding-right: 10px;">
            <i class="bi bi-telephone-fill text-success me-2"></i>電話番号
          </th>
          <td><%= shop.phone_number %></td>
        </tr>
        <tr>
          <th scope="row" class="w-25" style="padding-right: 10px;">
            <i class="bi bi-people-fill text-info me-2"></i>デュエルスペース
          </th>
          <td><%= shop.duel_space_available %></td>
        </tr>
        <tr>
          <th scope="row" class="w-25" style="padding-right: 10px;">
            <i class="bi bi-clock-fill text-warning me-2"></i>営業時間
          </th>
          <td>
            <%= shop.opening_hours.present? ? shop.opening_hours.gsub("\n", "<br>").html_safe : "営業時間情報がありません" %>
          </td>
        </tr>
        <tr>
          <th scope="row" class="w-25" style="padding-right: 10px;">
            <i class="bi bi-globe text-primary me-2"></i>公式HP
          </th>
          <td>
            <% if shop.official_hp.present? %>
              <%= link_to '公式HP', shop.official_hp, target: "_blank", rel: "noopener noreferrer", class: "text-decoration-none" %>
            <% else %>
              
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row" class="w-25" style="padding-right: 10px;">
            <i class="bi bi-twitter text-info me-2"></i>Twitter
          </th>
          <td>
            <% if shop.twitter.present? %>
              <%= link_to 'Twitter', shop.twitter, target: "_blank", rel: "noopener noreferrer", class: "text-decoration-none" %>
            <% else %>
              
            <% end %>
          </td>
        </tr>

      </tbody>
    </table>

    <%= render 'tags/tag_list', tag_list: shop.tag_list %>
  </div>
  
  <% if @is_admin %>
    <div class="card-footer d-flex justify-content-end">
        <%= link_to "編集", edit_admin_shop_path(shop), class: "btn btn-outline-primary me-2" %>
        <%= link_to "戻る", shops_path, class: "btn btn-outline-secondary me-2" %>
        <%= button_to "削除", admin_shop_path(shop), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger" %>
    </div>
  <% end %>
</div>
