<div class="container mt-4">
  <div id="<%= dom_id(shop) %>" class="card">
    <div class="card-body">
      <p class="card-text">
        <strong>ショップ名:</strong>
        <%= shop.name %>
      </p>

      <p class="card-text">
        <strong>住所:</strong>
        <%= shop.address %>
      </p>

      <p class="card-text">
        <strong>電話番号:</strong>
        <%= shop.phone_number %>
      </p>

      <p class="card-text">
        <strong>デュエルスペース:</strong>
        <%= shop.duel_space_available %>
      </p>

      <p class="card-text">
        <strong>営業時間:</strong>
        <%= shop.opening_hours %>
      </p>

      <p class="card-text">
        <strong>公式HP:</strong>
        <%= link_to shop.official_hp, shop.official_hp, target: "_blank", rel: "noopener noreferrer" if shop.official_hp.present? %>
      </p>

      <p class="card-text">
        <strong>Twitter:</strong>
        <%= link_to shop.twitter, shop.twitter, target: "_blank", rel: "noopener noreferrer" if shop.twitter.present? %>
      </p>

      <p class="card-text">
        <strong>Instagram:</strong>
        <%= link_to shop.instagram, shop.instagram, target: "_blank", rel: "noopener noreferrer" if shop.instagram.present? %>
      </p>

      <!-- タグ表示部分をパーシャルに移動 -->
      <%= render 'tags/tag_list', tag_list: shop.tag_list %>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <% if @is_admin %>
        <%= link_to "編集", edit_admin_shop_path(shop), class: "btn btn-primary me-2" %>
        <%= link_to "詳細", shop_path(shop), class: "btn btn-secondary me-2" %>
        <%= button_to "削除", admin_shop_path(shop), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "詳細", shop_path(shop), class: "btn btn-primary me-2" %>
      <% end %>
    </div>
    <% unless @is_admin %>
      <div>
        <%= render 'shops/favorite_buttons', { shop: shop } %>
      </div>
    <% end %>
  </div>
</div>
