<div class="container mt-4">
  <div id="<%= dom_id(shop) %>" class="card">
    <div class="card-body">
      <p class="card-text">
        <strong>ショップ名:</strong>
        <%= shop.name %>
      </p>
      <p class="card-text">
        <strong>住所:</strong>
        <%= shop.address %>
      </p>
      <p class="card-text">
        <strong>電話番号:</strong>
        <%= shop.phone_number %>
      </p>
      <p class="card-text">
        <strong>デュエルスペース:</strong>
        <%= shop.duel_space_available %>
      </p>
      <p class="card-text">
        <strong>営業時間:</strong>
        <%= shop.opening_hours %>
      </p>
      <!-- タグ表示部分をパーシャルに移動 -->
      <%= render 'tags/tag_list', tag_list: shop.tag_list %>
    </div>
    <div class="card-footer text-end">
      <%= link_to "詳細", shop_path(shop), class: "btn btn-primary" %>
    </div>
  </div>
</div>
