<!-- app/views/shops/map.html.erb -->
<h1>Shop Map</h1>

<div id="map" style="height: 500px;"></div>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: {lat: 35.6895, lng: 139.6917} // 中心を東京に設定
    });

    var markers = [];

    <% @shops.each do |shop| %>
      var marker = new google.maps.Marker({
        position: {lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
        map: map,
        title: '<%= j shop.name %>'
      });

      var infowindow = new google.maps.InfoWindow({
        content: '<a href="<%= shop_path(shop) %>"><%= j shop.name %></a>'
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });

      markers.push(marker);
    <% end %>
  }

  document.addEventListener('turbo:load', function() {
    if (document.getElementById('map')) {
      if (typeof google !== 'undefined') {
        initMap(); // Google Maps APIが読み込まれている場合はinitMapを直接呼ぶ
      }
    }
  });
</script>

<!-- Google Maps APIの読み込み -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
