<p style="color: green"><%= notice %></p>

<%= render partial: 'shops/index', locals: { shop: @shop } %>

<h5>住所</h5>
<p><%= @shop.address %></p>
<p>Latitude: <%= @shop.latitude %></p>
<p>Longitude: <%= @shop.longitude %></p>

<!-- Googleマップ表示エリア(地図を表示) -->
<div id="map" style="height: 400px; width: 100%;"></div>

<!-- Googleマップ表示用の Javascript -->
<script>
  function initMap(){
    console.log("initMap function called");

    // 地図の位置情報(緯度・経度)を取得
    let mapPosition = {lat: <%= @shop.latitude || 35.681236 %>, lng: <%= @shop.longitude || 139.767125 %> };
    console.log("Map Position:", mapPosition);
    console.log("Latitude:", <%= @shop.latitude || 35.681236 %>);
    console.log("Longitude:", <%= @shop.longitude || 139.767125 %>);

    if (!mapPosition.lat || !mapPosition.lng) {
      console.error("Invalid latitude or longitude value");
      return;
    }

    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: mapPosition
    });
    console.log("Map object created");

    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    console.log("Transit layer added to map");

    let contentString = '【住所】<%= @shop.address %>';
    console.log("Content String:", contentString);

    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    console.log("InfoWindow object created");

    let marker = new google.maps.Marker({
      position: mapPosition,
      map: map,
      title: contentString
    });
    console.log("Marker object created");

    marker.addListener('click', function(){
      infowindow.open(map, marker);
    });
    console.log("Marker click listener added");
  }

  window.initMap = initMap;  // Ensure initMap is in the global scope
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
