<header class="p-3 bg-dark text-white sticky-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="ブートストラップ"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <!-- Updated navigation with dropdown -->
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to 'マップから探す', map_shops_path, class: 'nav-link px-2 text-white' %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white px-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              取り扱いタイトルから探す
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if @tags.present? %>
                <% @tags.each do |tag| %>
                  <li><%= link_to tag.name, shops_path(tag_name: tag.name), class: "dropdown-item" %></li>
                <% end %>
              <% else %>
                <li class="dropdown-item">タグはありません</li>
              <% end %>
            </ul>
          </li>
        </ul>

        <%= search_form_for @q, class: "col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex", url: shops_path, method: :get do |f| %>
          <%= f.search_field :name_cont, class: "form-control form-control-dark form-control-sm", placeholder: "ショップ名で検索", aria: { label: "検索" } %>
          <%= f.submit "検索", class: "btn btn-outline-light btn-sm ms-2" %>
        <% end %>
        <% if user_signed_in? %>
          <div class="text-end">
            <%= link_to "ショップ一覧", shops_path, class: "btn btn-outline-light me-2" %>
            <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-outline-light me-2", method: :delete, data: {turbo_method: :delete } %>
            <%= link_to "マイページ", "/users/#{current_user.id}", class: "btn btn-warning" %>
          </div>
        <% else %>
          <div class="text-end">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-light me-2"  %>
            <%= link_to "新規作成", new_user_registration_path, class: "btn btn-outline-light me-2" %>
          </div>
        <% end %>
      </div>
    </div>
</header>
